html, body{
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  height:100%;
  display: flex;
  flex-direction: column;
}

header{
  height: 70px;
  /* background-color: rgb(62, 70, 218); */
}

#puntajes{
  color: #fff;
  display:flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.puntosJugador{
  color:rgb(13, 170, 47)
}

.puntosComputadora{
  color: orange;
}

nav{
  /* background-color: rgb(62, 70, 218); */
}

.nav-link{
  color: white;
}

h3{
  color: white;
}

.containerLogo{
  width: auto;
  height: 80px;
  margin-left: 10px;
  margin-right: 20px;
}

.dcLogo{
  align-self: center;
  height: 100%;
}

.vsLogo{
  height: 60px;
  align-self: center;
}

.marvelLogo{
  align-self: center;
  height: 60px;
}

.nav-link{
font-size: 1.3rem;
}

.row{
  margin: 0px;
}

#main{
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.contenedorPrincipal{
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(55,66,122,1) 100%);
  padding-bottom: 0px;
  width: 100%;
  display: flex;
  justify-content:center;

}
.contenedorCartas{
  min-width: 330px;
}

.carta{
  position: relative;
  width: 320px;
  height: 630px;
  background-color: #fff;
  margin: 10px;
  border-radius: 20px;
  border: solid 1px rgba(255, 255, 255, 0.14);
  box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
  animation-duration: 2s;
  z-index: 1000;
}

.carta:hover{
  box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.3); 
  transform: scale(1.02);
  transition: all 0.2s ease-in-out;
}

.dorsoCarta{
  position: absolute;
  width: 320px;
  height: 630px;
  background-color: #fff;
  margin: 10px;
  border-radius: 20px;
  border: solid 1px rgba(255, 255, 255, 0.14);
  box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

.dorsoCartaOculta{
  z-index: 900;
}


.positionIzq0{
  margin-left: 10px !important;
}

.positionIzq1{
  margin-left: 30px !important;
}

.positionIzq2{
  margin-left: 50px !important;
}

.positionIzq3{
  margin-left: 70px !important;
}

.positionIzq4{
  margin-left: 90px !important;
}

.positionIzq5{
  margin-left: 110px !important;
}

.positionIzq6{
  margin-left: 130px !important;
}

.positionIzq7{
  margin-left: 150px !important;
}

.positionIzq8{
  margin-left: 170px !important;
}

.positionIzq9{
  margin-left: 190px !important;
}

.positionDer0{
  margin-left: -10px !important;
}

.positionDer1{
  margin-left: -30px !important;
}

.positionDer2{
  margin-left: -50px !important;
}

.positionDer3{
  margin-left: -70px !important;
}

.positionDer4{
  margin-left: -90px !important;
}

.positionDer5{
  margin-left: -110px !important;
}

.positionDer6{
  margin-left: -130px !important;
}

.positionDer7{
  margin-left: -150px !important;
}

.positionDer8{
  margin-left: -170px !important;
}

.positionDer9{
  margin-left: -190px !important;
}

.imagenDorsoCarta{
  width: 100%;
  height: 100.1%;
  padding: 10px;
  border-radius: 20px;
  border: solid 1px rgba(255, 255, 255, 0.14);
}

.contenedorNombreCarta{
  height: 20px;
  margin: 10px 10px 5px 10px;
}

.nombreCarta{
  font-size: 1.2rem;
  font-weight: 700;
  padding-top: 0px;
  margin: 0px;
  color: indigo;
}

.logoCarta{
  height: 100%;
}

.carta p{
  margin: 0px;
  padding: 0px;
}

.imagencontainer{
  width: 100%;
}

.imagen{
  width: 100%;
  padding: 0px 10px 5px 10px;
  border-radius: 20px;
  border: solid 1px rgba(255, 255, 255, 0.14);
}

.propiedad{
  margin: 0px 10px 0px 10px;
  border-bottom: 1px solid rgb(151, 151, 151);
  font-size: 1rem;
  font-weight: 700;
}


.valorPropiedad{
  position: absolute;
  text-align: right;
  width: 300px;
  z-index: 1000;
  background-color: transparent;
  border: none;
  color: black;
  font-size: 1rem;
  font-weight: 700;
}

.valorPropiedad:hover{
  background: linear-gradient(90deg, rgba(255,255,255,0), rgb(9, 170, 44));
  transition: all 0.2s ease-in-out;
}

.tituloSelector{
  color: white;
}

.publisherSelector{
  width: 350px;
  height: 350px;
  border-radius: 20px;
}

#DCSelector{
  cursor: pointer;
}

#MarvelSelector{
  cursor: pointer;
}

#imgDCSelector{
  width: 100%;
  min-width: 300px;
  border-radius: 20px;
}

#imgMarvelSelector{
  width: 100%;
  min-width: 300px;
  border-radius: 20px;
}

#vsSelector{
  width: 150px;
}

#imgVsSelector{
  width: 100px;
  min-width: 100px;
}

/*SOMBRA MOVIL*/
/*Efecto de sombra con caja que sube y baja*/
.sombra-movil:hover{
  transform: translateY(-6px);
  transition-duration: 0.3s;
  animation: 1.5s mover-caja infinite;
}
.sombra-movil:before{
  content: '';
  background: radial-gradient(ellipse, 
    rgba(0,0,0,0.35) 0%, 
    rgba(0,0,0,0) 80%);
  width: 90%;
  height: 20px;
  top: 100%;
  left: 5%;
  position: absolute;
  opacity: 0;
}
.sombra-movil:hover:before{
  opacity: 1;
  transform: translateY(6px);
  transition-duration: 0.3s;
  animation: 1.5s mover-sombra infinite;
}

@keyframes mover-caja{ 
  50%{ 
    transform: translateY(-10px);
  } 
}
@keyframes mover-sombra{
  50%{
    opacity: 1;
    transform: translateY(10px) scale(0.9)
  }
}

.swal-modal{
  height: 290px;
  width: 310px;
  background-color: rgba(255, 255, 255, 0.3); 
  border-radius: 20px;
}

.swal-title{
  background-color: #fefae3d2;
  padding: 0px;
  border: 1px solid #fefae3d2;
  display: block;
  margin: 10px;
  text-align: center;
  color: #61534e;
  border-radius: 10px;
}

.swal-text{
  background-color: #fefae3d2;
  padding: 7px;
  border: 1px solid #fefae3d2;
  display: block;
  margin-left: 10px;
  text-align: center;
  color: #61534e;
  border-radius: 10px;
}

.swal-button--confirm{
  background-color: rgba(27, 27, 216, 0.541);
  padding: 7px;
  margin-right: 10px;
  margin-top: 7px;
}

.swal-footer{
  padding: 0px;
  margin: 0px;
}
.swal-icon{
  background-color: rgba(255, 255, 255, 0.3); 
}

.swal-icon--success{
  background-color: rgba(255, 255, 255, 0.3); 
}

.swal-icon--success:after, .swal-icon--success:before{
  background-color: rgba(255, 255, 255, 0); 
}

.swal-icon--success__hide-corners{
  background-color: rgba(255, 255, 255, 0); 
}

.swal-icon--warning{

}

/*Tarjetas*/

#heroesLista{
width: 100%;
display: flex;
flex-direction: row;
justify-content: center;
flex-wrap: wrap;
}

.contenedorTarjetas{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.card-title{
  text-align: center;
  font-size: 1.7rem;
  padding: 0px;
  margin: 0px;
  color: rgb(152, 88, 198);
}

.card-body h6{
  margin: 5px 0px 0px 0px;
  padding: 0px;
}

.card-body{
  padding: 5px 0px 10px 0px;
}

.card-img-top{
  border-radius: 15px 15px 0px 0px;
}

.card-img-top:hover{
  transform:scale(1.1);
  transition: all 0.2s ease-in-out;
}

.contenedorImagenTarjeta{
  overflow:hidden;
  border-radius: 15px 15px 0px 0px;
}

.card{
  border-radius: 15px;
  border: solid 1px rgba(255, 255, 255, 0.14);
  box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

.card:hover{
  box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.3); 
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0));
  transform: scale(1.02);
  transition: all 0.2s ease-in-out;
}
.renglonTarjeta{
  background-color: rgba(60, 60, 60, 0.5);
  border-radius: 10px;
  padding: 0px 7px 0px 7px;
  margin: 3px 0px 3px 0px;
}

.renglonTarjeta:hover{
  background-color: rgba(60, 60, 60, 1);
}

.statValue{
  color:rgb(13, 170, 47)
}

.biographyValue{
  color: orange;
}

/* Estadisticas */

.contenedorStats{
  position: relative;
  width: 500px;
  justify-content: center;
  padding-bottom: 250px;
}


/*footer*/
footer{
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60px;
  /* background-color: rgb(62, 70, 218); */
  color: black;
  z-index: 1000;
  padding-top: 0.5rem;
}

.footer__copyright{
  padding-top: 0.5rem;
  font-size: 0.8rem;
  text-align: center;
}

.footer__nombre{
  padding-top: 0.5rem;
  font-size: 1rem;
  text-align: center;
}

.redes_sociales{
  padding-right: 10px;
  text-align: center;
  height:3rem;
}

.redes_logos{
  margin-left: 15px;
  font-size: 1.8rem;
  color:black;
}

.redes_logos:hover{
  color: #a87b05;
}

/*end footer*/
